{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Administration</h1>
    <ul>
        <li>
            <a href="{{ path('product_index') }}">Products</a>
        </li>
    </ul>
{% endblock %}
