{% extends 'base.html.twig' %}

{% block title %}Hlavní strana{% endblock %}

{% block body %}
    <br>
    <div class="jumbotron">
        <h1>Re-taška mění nakupování a chrání oceány</h1>
        <p class="lead">Zde bude vysvětleno co je Re-taška, apod.</p>
        <br>
        <a class="btn btn-lg btn-primary" href="{{ path('product_list_index') }}" role="button">
            Zobrazit produkty »
        </a>
    </div>
{% endblock %}
